// Inter Fonts
// 18 px
@font-face {
    font-family: interBlack18;
    src: url('./Inter/static/Inter_18pt-Black.ttf');
}

@font-face {
    font-family: interBold18;
    src: url('./Inter/static/Inter_18pt-Bold.ttf');
}

@font-face {
    font-family: interExtraBold18;
    src: url('./Inter/static/Inter_18pt-ExtraBold.ttf');
}

@font-face {
    font-family: interMedium18;
    src: url('./Inter/static/Inter_18pt-Medium.ttf');
}

@font-face {
    font-family: interRegular18;
    src: url('./Inter/static/Inter_18pt-Regular.ttf');
}

@font-face {
    font-family: interLight18;
    src: url('./Inter/static/Inter_18pt-Light.ttf');
}

// 24px
@font-face {
    font-family: interBlack24;
    src: url('./Inter/static/Inter_24pt-Black.ttf');
}

@font-face {
    font-family: interBold24;
    src: url('./Inter/static/Inter_24pt-Bold.ttf');
}

@font-face {
    font-family: interExtraBold24;
    src: url('./Inter/static/Inter_24pt-ExtraBold.ttf');
}

@font-face {
    font-family: interMedium24;
    src: url('./Inter/static/Inter_24pt-Medium.ttf');
}

@font-face {
    font-family: interRegular24;
    src: url('./Inter/static/Inter_24pt-Regular.ttf');
}

// 28px
@font-face {
    font-family: interBlack28;
    src: url('./Inter/static/Inter_28pt-Black.ttf');
}

@font-face {
    font-family: interBold28;
    src: url('./Inter/static/Inter_28pt-Bold.ttf');
}

@font-face {
    font-family: interExtraBold28;
    src: url('./Inter/static/Inter_28pt-ExtraBold.ttf');
}

@font-face {
    font-family: interMedium28;
    src: url('./Inter/static/Inter_28pt-Medium.ttf');
}

@font-face {
    font-family: interRegular28;
    src: url('./Inter/static/Inter_28pt-Regular.ttf');
}

// Poppins Fonts
@font-face {
    font-family: poppinsBlack;
    src: url('./Poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: poppinsBold;
    src: url('./Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: poppinsExtraBold;
    src: url('./Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: poppinsSemiBold;
    src: url('./Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: poppinsMedium;
    src: url('./Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: poppinsRegular;
    src: url('./Poppins/Poppins-Regular.ttf');
}